@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  font-family: "Inter", sans-serif;
}

input[type=number] {
  -moz-appearance:textfield;
  font-size: 25px; 
}

#Minutes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  font-size: 2rem;
}

.time-input-group {
  margin-top: 2rem;
}

#i1{
  display: flex;
  flex-direction: column;
}

#i1 input {
  width: 22rem;
  height: 4rem;
  margin-bottom: 2rem;
  border: 1.5px solid;
  border-radius: 10px;
  outline: none;
}

#i2 {
  display: flex;
  flex-direction: row;
}

#startBtn {
  margin-left: 1rem; 
  width: 7rem;
  height: 4rem;
}

#intervalSet {
  margin-top: 1.5rem;
  color: rgb(7, 129, 7);
  font-size: 18px;
}